@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

@import url(https://fonts.googleapis.com/css?family=Unbounded:200,300,regular,500,600,700,800,900);


* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  box-sizing: border-box;
}

.logo{
  color: rgb(0, 130, 209);
font-family: Inter;
font-size: 30px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0px;
text-align: left;
}

header{
  display: flex;
  padding: 8px 40px;
  box-sizing: border-box;
  align-items: center;
  gap: 5px;
  justify-content: space-between;

}

button:hover{
  cursor: pointer;
  transition: .3s;
  scale: 0.95;
}

/* *{
  outline: 1px solid #f0f;
} */

.air-alarm{
  font-family: Inter;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0px;
color: white ;
  border: 0;
  border-radius: 16px;
  width: 244px;
height: 45px;
background: rgb(255, 0, 0);
}

.data-text{
  color: rgb(255, 0, 0);
font-family: Inter;
font-size: 25px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0px;
text-align: left;
}

.title{
  color: rgb(0, 0, 0);
font-family: Inter;
font-size: 50px;
font-weight: 700;
line-height: 61px;
letter-spacing: 0px;
text-align: left;
width: 500px;
}

.war-days{
  color: rgb(255, 0, 0);
font-family: Inter;
font-size: 50px;
font-weight: 700;
line-height: 61px;
letter-spacing: 0px;
text-align: left;
}

.hero-desc{
  width: 400px;
  color: rgb(0, 0, 0);
font-family: Inter;
font-size: 15px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0px;
text-align: left;
}

.btn-support{
  /* Rectangle 2 */
  padding:15px;
width: 275px;
border-radius: 20px;
border: 0;
background: rgb(255, 209, 0);
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 25px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0px;
text-align: center;
text-decoration: none;
}
.hero{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 60px;
  gap: 50px;
  margin: 50px 0 200px 0;
}
.heroImg{
  width: 790px;
  display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 10px;
}
.img-war{
  border-radius: 30px;
  gap: 50px;
}
.img-war:nth-child(2){
  max-height: 220px;
}
.img-war:nth-child(3){
  max-height: 220px;
}

.hero-info{
  display: flex;
  flex-direction: column;
  gap: 10px;
}



.title-images{
  font-family: Inter;
font-size: 70px;
font-weight: 700;
line-height: 82px;
letter-spacing: 0px;
margin: 15px;
margin-top: 100px;
display: flex;
align-items: center;
justify-content: center;
gap: 30px;
}

.title-images span{
  display: block;
  padding: 10px;
  width: auto;
  font-size: 60px;
  border-radius: 20px;
  color: white;
background: rgb(255, 0, 0);
animation: 4s Live infinite;
}


.img-war-ba{
  height: 400px;
  width: auto;
  border-radius: 20px;
}

.img-block{
  padding: 20px;
  display: flex;
  gap: 55px;
  flex-direction: row;
  
}
.img-block:nth-child(even){
  flex-direction: row-reverse;

}

@keyframes Live {
  0%{
    scale: 0.9;
  }
  50%{
    scale: 1;
  }
  100%{
    scale: 0.9;
  }
}

.war-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  background-color: #222; /* Default background color */
  transition: background-color 0.5s ease;
}

.root {
  animation: airAlarm 3s infinite;
}



.air-alarm:hover {
  transform: scale(1.1);
}


.lossesbox{
  display: flex;
  flex-direction: column;
  width: 400px;
  justify-content: space-between;
  gap: 15px;
  align-items: center;
}


.losses-conteiner{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  padding: 40px 80px;
}


.losses-title{
  color: rgb(255, 0, 0);
font-family: Roboto;
font-size: 70px;
font-weight: 900;
line-height: 82px;
letter-spacing: 0px;
text-align: center;
}



.lossesbox div{
  
  border-radius: 15px;
  background: rgb(196, 196, 196);
  width: 301px;
  height: 48px;
  margin: 0px auto;
  align-items: flex-start;
  display: flex
;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;

}

.lossesboxTitle{
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 22px;
  font-weight: 900;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: center;
}


.lossesbox-amount{
  color: rgb(0, 0, 0);
font-family: Unbounded;
font-size: 60px;
font-weight: 600;
line-height: 80px;
letter-spacing: 1px;
text-align: left;
animation: 2s Red infinite alternate;

}


@keyframes Red {
  0%{
    color: red;
  }
  100%{
    color: #222;
  }
}

@keyframes airAlarm {
  0% {
      background-color: #b60202;
  }
  50% {
      background-color: #ffffff;
  }
  100% {
      background-color: #b60202;
  }
}
.Image-Days{
  width: 100%;
  object-fit: cover;
  height: 100vh;
}

.nav{
  width: 500px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  border-radius: 14px;
  background: rgb(0, 130, 209);
  padding: 10px;


}

.nav-link{
  color: rgb(255, 209, 0);
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  text-decoration: none;
}

.logo-box{
  display: flex;
  align-items: center;
  gap: 15px;
}